/Users/Nikola/Desktop/QuoteGarden/QuoteGarden.ipa
/Users/Nikola/Desktop/QuoteGarden/QuoteGarden.app.dSYM.zip
/Users/Nikola/Desktop/QuoteGarden/QuoteGarden.app.dSYM
/Users/Nikola/Desktop/QuoteGarden/fastlane
/Users/Nikola/Desktop/QuoteGarden/Gemfile
/Users/Nikola/Desktop/QuoteGarden/.swiftlint.yml
